/* Styles for Article.jsx */
.article {
    border: 1px solid black;
    aspect-ratio: 5/4;
    height: max(7rem, 17%);
    max-width: 25%;
    border-radius: 8px;
    padding: 4px;
    /* transform: translateY(100px) rotateY(0);
    animation: spinUp 1s ease-in-out   forwards ;
    animation-delay: calc(var(--delay) * 100ms); */
}

.article-text {
    max-height: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    --webkit-line-clamp: 4;
    --webkit-box-orient: vertical;
}

/* 
@keyframes spinUP {
    from {
        opacity: 0;
        transform: translateY(0) rotateY(0);
      }
    to {
        opacity: 1;
        transform: translateY(-50px) rotateY(360deg);
      }
} */