/* Styles for Article.jsx */
.article {
    border: 1px solid black;
    aspect-ratio: 5/6;
    /* height: 30%; */
    width: min(30%, 27rem);
    border-radius: 8px;
    padding: 1rem;
    display: grid;
    grid-template-rows: [start] 40% [figure-bot] 17% [title-bot] 35% [blob-bot] 5% [by-bot] 3% [end];
    /* transform: translateY(100px) rotateY(0);
    animation: spinUp 1s ease-in-out   forwards ;
    animation-delay: calc(var(--delay) * 100ms); */
}

.article-text {
    max-height: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    --webkit-line-clamp: 4;
    --webkit-box-orient: vertical;
}

/* .article--row {
    margin-top: .5rem;
} */

.article-img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.article-title {
    font-size: 1.8rem;
    padding: 4px 0;
}

.article--row__4 {
    margin-top: -1rem;
}

.article--row__5 {
    display: flex;
    justify-content: space-between;
}

/* 
@keyframes spinUP {
    from {
        opacity: 0;
        transform: translateY(0) rotateY(0);
      }
    to {
        opacity: 1;
        transform: translateY(-50px) rotateY(360deg);
      }
} */